#left {
	border: 1px solid red;
	float: left;
	padding: 5px;
}

#right {
	border: 1px solid green;
	padding: 5px;
	float: left;
}

#graphRaw {
	width: 500px;
	height: 400px;
}

#graphParsingErrors
{
	border: 1px solid #F00; 

	margin-left: 5px;
	margin-right: 10px;

	padding: 5px; 

	background-color: #FFC0C0; 

	color: #9A0000; 
}
