#left {
	float: left;
	padding: 5px;
}

#right {
	padding: 5px;
	float: left;
}

#graphRaw {
	width: 420px; 
	height: 300px;
}

#graphParsingErrors
{
	border: 1px solid #F00; 

	margin-left: 2px;
	margin-right: 2px;
	margin-bottom: 5px;
	
	padding: 5px; 

	background-color: #FFC0C0; 

	color: #9A0000;
	
	display: none;
}
