#left {
	float: left;
	padding: 5px;
}

#right {
	padding: 5px;
	float: left;
}

#graphRaw {
	width: 420px; 
	height: 300px;
}

#graphParsingErrors
{
	border: 1px solid #F00; 

	margin-left: 2px;
	margin-right: 2px;
	margin-bottom: 5px;
	
	padding: 5px; 

	background-color: #FFC0C0; 

	color: #9A0000;
	
	display: none;
}

#doComputations
{
	background-image: url("compute.png");
	background-repeat: no-repeat;
	background-position: 405px 5px;
	
	height: 25px;
	vertical-align: middle;
	text-align: right;
	
	padding-right: 22px;
	padding-top: 5px;
	
	cursor: pointer; cursor: hand; 
}

.actions
{
	font-size: 14px;
}

#downloads
{
	display: none;
}

#downloadGraph 
{
	background-image: url("download_small.png");
	background-repeat: no-repeat;
	background-position: 0px 5px;
	
	height: 20px;
	padding-left: 18px;
	padding-top: 5px;
	float: left;
	
	cursor: pointer; cursor: hand; 
}

#downloadInvariants
{
	background-image: url("download_small.png");
	background-repeat: no-repeat;
	background-position: 405px 5px;
	
	height: 25px;
	vertical-align: middle;
	text-align: right;
	
	padding-right: 22px;
	padding-top: 5px;
	
	cursor: pointer; cursor: hand; 
}

#helpButton
{
	padding-left: 35px;
	padding-top: 5px;
	vertical-align: bottom;
}

#helpButton a
{
	border-bottom: none;
}
